{% extends "bookclub/header.html" %}

{% block content %}
    <h1 class="text-light">Bookclub Main Page</h1>
    <h4><a href="{{ url_for('bookclub_shelf') }}" class="text-light">Bookclub Bookshelf</a></h4>
    <h4><a href="{{ url_for('forums') }}" class="text-light">Forums</a></h4>
    <h4><a href="{{ url_for('forum') }}" class="text-light">Active Book Forum</a></h4>
    <h4><a href="{{ url_for('bookclub_suggestions') }}" class="text-light">Suggestions</a></h4>
    <h4><a href="{{ url_for('bookclub_settings') }}" class="text-light">Bookclub Settings</a></h4>
    <h4><a href="{{ url_for('bookclub_book') }}" class="text-light">Bookclub Active Book</a></h4>
{% endblock %}