<!DOCTYPE html>
<html>

    <head>
        <title>
            Bookclub Pages
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- link rel="stylesheet" href="{{ url_for('static', filename='./bootstrap/css/bootstrap.min.css') }}" --!>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel='stylesheet' href="{{ url_for('static', filename='./css/bookclub.css') }}"> 
    </head>


<body class="main-scheme">
    <nav id="header-bg" class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow">
        <div class="d-flex justify-content-start">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="bg-transparent border-0 px-3">
                <a href="{{ url_for('bookclub') }}" >
                    <i class="fas fa-users text-light" style="font-size:24px;"></i>
                </a>
            </button>
            <a class="navbar-brand header-font" href="#" style="font-size:24px;">Club</a>
        </div>
        <div class="d-flex justify-content-center text-light" style="font-size:32px;">Page Sage</div>
        <div class="d-flex justify-content-end">
            <form class="form-inline mt-2 mt-md-0 pl-3">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Books" aria-label="Search">
                <a href="{{ url_for('search') }}">
                <button class="btn btn-outline-light my-2 my-sm-0 search-button" type="submit">Search</button>
                </a>
            </form>
            <button class="bg-transparent border-0 pl-3 pr-2">
                <a href="{{ url_for('profile') }}" >
                    <i class="fas fa-user-astronaut text-light" style="font-size:24px;"></i>
                </a>
            </button>
            <button class="bg-transparent border-0">
                <a href="{{ url_for('index') }}">
                    <i class="fas fa-sign-out-alt text-light" style="font-size:24px;"></i>
                </a>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse"></div>
    </nav>

    <div class="container-fluid w-100 mt-5" style="height: 100vh;">
        <div class="row w-100" style="height:100vh;">
            <div id="sidebar-bg" class="col-1 pt-2 shadow text-light">
                <div class="text-center text-light py-2 border-bottom border-light w-100">
                    <button class="bg-transparent border-0">
                        <a href="{{ url_for('bookclub_shelf') }}">
                            <i title="Club Shelf" class="fas fa-bookmark text-light" style="font-size: 40px;"></i>
                        </a>
                    </button>
                </div>
                <div class="text-center text-light py-2 border-bottom border-light w-100">
                    <button class="bg-transparent border-0">
                        <a href="{{ url_for('forums') }}">
                            <i title="General Forums" class="fas fa-scroll text-light" style="font-size: 40px;"></i>
                        </a>
                    </button>
                </div>
                <div class="text-center text-light py-2 border-bottom border-light w-100">
                    <button class="bg-transparent border-0">
                        <a href="{{ url_for('forum') }}">
                            <i title="Book Forum" class="fas fa-book-open text-light" style="font-size: 40px;"></i>
                        </a>
                    </button>
                </div>
                <div class="text-center text-light py-2 border-bottom border-light w-100">
                    <button class="bg-transparent border-0">
                        <a href="{{ url_for('bookclub_suggestions') }}">
                            <i title="Suggestions" class="fas fa-thumbtack text-light" style="font-size: 40px;"></i>
                        </a>
                    </button>
                </div>
                <div class="text-center text-light py-2 border-bottom border-light w-100">
                    <button class="bg-transparent border-0">
                        <a href="?">
                            <i title="Add Member" class="fas fa-user-plus text-light" style="font-size: 40px;"></i>
                        </a>
                    </button>
                </div>
                <div class="text-light py-2 border-light w-100 text-center">
                    <button class="bg-transparent border-0">
                        <a href="{{ url_for('bookclub_settings') }}">
                            <i title="Bookclub Settings" class="fas fa-cog text-light" style="font-size: 40px;"></i>
                        </a>
                    </button>
                </div>
            </div>
            <div class="col pt-2 ml-0">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>