{% extends "bookclub/header.html" %}

{% block content %}
    <h1>Bookclub Search Page</h1>
    <h4><a href="{{ url_for('bookclub_shelf') }}">Bookclub Bookshelf</a></h4>
    <h4><a href="{{ url_for('forums') }}">Forums</a></h4>
    <h4><a href="{{ url_for('forum') }}">Active Book Forum</a></h4>
    <h4><a href="{{ url_for('bookclub_suggestions') }}">Suggestions</a></h4>
    <h4><a href="{{ url_for('bookclub_settings') }}">Bookclub Settings</a></h4>
    <h4><a href="{{ url_for('bookclub_book') }}">Active Bookclub Book</a></h4>
{% endblock %}