{% extends "user/header.html" %}

{% block content %}
    <!-- Books/Main -->
    <header id="header-bg" class="w3-container w3-center" style="padding: 128px 16px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <h1 class="w3-margin w3-jumbo">User Profile</h1>
        <div class="w3-xlarge">
            <a href="{{ url_for('user_book') }}">
            Books...
            </a>
        </div>
    </header>   
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
          <div class="w3-twothird">
            <h1>Messages</h1>
            <p class="w3-text-grey">Any unread messages...</p>
          </div>
      
          <div class="w3-third w3-center">
            <i class="fas fa-comment w3-padding-64 w3-text-grey" style="font-size: 100px"></i>
          </div>
        </div>
      </div>

      <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" style="padding: 128px 16px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="w3-content">
          <a href="{{ url_for('search') }}" class="w3-third w3-center">
            <i class="fas fa-plus w3-padding-64 w3-text-grey w3-margin-right" style="font-size: 100px"></i>
          </div>
      
          <div class="w3-twothird">
            <h1>Add Books</h1>
            
            <p class="w3-text-grey">Goes to search page to add books</p>
          </div>
        </div>
      </div>
      
{% endblock %}