{% extends "user/header.html" %}

{%block content%}
{%for book in books["results"]%}
 <div id="book">
   <div class="card" style="width: 18rem;">

        <div class="card-body">
            {%if book.volumeInfo.imagelinks %}
            <img class="card-img-top" id="bookImage" src="{{book.volumeInfo.ImageLinks.SmallThumbnail}}"
                 title="{{ book.volumeInfo.title }}" alt="{{ book.volumeInfo.title }}"/>
            {% else %}
                    <img width="60%" height="70%" src="../static/NoImageBook.jpg"
                         title="{{ book.volumeInfo.title }}" alt="{{ book.volumeInfo.title }}"/>
            {% endif %}
        <h4 class="card-title"></h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Author:</li>
        <li class="list-group-item">Average Rating:</li>
        <li class="list-group-item">Our Rating:</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="/authorsearch" class="card-link">More By Author</a>
        </div>
    </div>
</div>
{% endfor %}
{%block conent%}


