{% extends "landing/base.html" %}
 
{% block content %}
    <!--- LOGIN/SIGNUP AREA-->
    <div class="w3-row-padding w3-padding-32 w3-display-container w3-container shadow">
        <div class="w3-content">
            <!-- Cat -->
            <div class="w3-third">
                <img class="w3-image mirror" alt="derp cat" src="{{ url_for('static', filename='./img/cat.png') }}">
            </div>

            <!-- Login Form -->
            <div class="w3-third w3-padding w3-display-middle">
                <div class="w3-white w3-card" style="width: 100%;">
                    <div class="w3-bar-item w3-bar-block w3-card w3-center">
                        <a href="{{ url_for('login') }}" class="w3-bar-item w3-red w3-button bg-transparent w3-padding-large w3-hover-white w3-large" title="Club Shelf">
                            <i class="fab fa-google w3-left" style="font-size:20px">  Login/Signup with Google</i>
                        </a>
                        <a href="{{ url_for('login') }}" class="w3-bar-item w3-blue w3-button bg-transparent w3-padding-large w3-hover-white w3-large" title="Club Shelf">
                            <i class="fab fa-facebook w3-left" style="font-size:19px">  Login/Signup with Facebook</i>
                        </a>
                        <a href="{{ url_for('login') }}" class="w3-bar-item w3-light-blue w3-button bg-transparent w3-padding-large w3-text-white w3-hover-white w3-large" title="Club Shelf">
                            <i class="fab fa-twitter w3-left" style="font-size:20px">  Login/Signup with Twitter</i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Cat -->
            <div class="w3-third w3-right">
                <img class="w3-image" alt="derp cat" src="{{ url_for('static', filename='./img/cat.png') }}">
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div id="header-bg" class="w3-row-padding w3-container" style="padding-top: 100px; padding-bottom: 100px;">
            <div class="w3-content">
                <div class="w3-third w3-center">
                    <i class="fas fa-info-circle w3-padding-64 w3-text-grey w3-margin-right" style="font-size: 100px"></i>
                </div>
                <div class="w3-twothird">
                <h1>About</h1>
                
                <p class="w3-text-grey">Our goal is to help book clubs select books that will be generally well received by the entire group. 
                    To achieve this, we ask our readers to rate twenty books based on how much they enjoyed their experiene with it, and will use this in a machine learning algorithm to 
                    gage how much that user may like other books. We'll average out the receptivity among all memembers in a bookclub to generate an overall rating. 

                    With Page Sage you will have your own personal alogrithm to help you estimate how much you may like a particular book, similar to Netflix's rating system.
                </p>
                </div>
            </div>
        </div>
{% endblock %}
