#header-bg {
  background-color: #C0CDAD;
  /* background-image: radial-gradient(#4A744C, #2B5B2E, #034107) */
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
 padding: 0;
}

.icon a {
  font-size: 24px; 
}

#main {
  margin-left: 12%;
}

.main-scheme {
  background-color: #FFFFFF;
  /* background-image: linear-gradient(to bottom right, #CDC0AD, #FAF9F8); */
  color: #000000;
}
 .main-scheme a {
  color: #000000;
 }

 .book-section {
  background-color: #C0CDAD;
  width: 100% !important;
  height: 25%;
 }

.sidebar {
  background-color: #C0CDAD;
  width: 12%;
}

.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.shadow {
  padding: 128px 16px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
